modules = ["nodejs-18", "web"]
run = "node app.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node app.js"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 44690024
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 5000
externalPort = 80
